%html
  %head
    %title Minimizer - little obfuscation tool
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1")
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
  %body
    %div.container
      %h1 Minimizer - little obfuscation tool (beta)
      .row
        %p Please read this instructions below:
        %ol
          %li Use only address bar of your browser.
          %li If you want to see website's version with obfuscated CSS classes, please type ?site=%SITENAME%
          %li If you want to see hash of obfuscated CSS classes, please type ?hash=%SITENAME%
          %li ...
          %li PROFIT!
