%html
  %head
    %title Minimizer - URL is incorrect
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1")
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
  %body
    %div.container
      %h1 URL is incorrect (Error 404 - Not Found)
      .row
        Looks like you entered an invalid URL. Please check entered data and try again.
